body {
    height: 100%;
    margin: 0;
    font-family: arial,sans-serif;
    background: #fff;
    color: #222;
    font-size: small;
}

#logo {
    display: block;
    margin: 0 auto;
    padding-top: 109px;
}

#search-form-box, #search-buttons-box {
    text-align: center;
}

ul#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul#nav li {
    float:right;
    font-size: 13px;
}
