body {
    height: 100%;
    margin: 0;
    font-family: arial,sans-serif;
    background: #fff;
    color: #222;
    font-size: small;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f2f2f2;
    height: 82px;
    border-top: 1px solid #e4e4e4;
}

#logo {
    display: block;
    margin: 0 auto;
    padding-top: 109px;
}

#search-buttons-box {
    text-align: center;
    margin-top: 25px;
}

ul#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul#nav li {
    float:right;
    font-size: 13px;
}

ul#footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul#footer-links li.left {
    float: left;
}

ul#footer-links li.right {
    float: right;
}

#search-form-box{
    margin: 0 auto;
    margin-top: 25px;
    width: 447px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 0 14px;
}

#search-form {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    border: solid 0px;
}

#search-form:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

#search-form-box:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search-buttons {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-buttons:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.search-buttons:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

